# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.


Objectives:

* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* Table of Data Science Tools
* Artihmetic expressions in Pyhton

Some of the popular languages that Data Scientists use are:

1. Python
2. R.
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Scikit-learn
2. Matplotlib
3. Pytorch

|Data Science Tools|
| -----|
|Jupyter Notebook|
|R Studio|
|MySQL|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [15]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [16]:
minutes = 200
hours = minutes/60
print(hours,"hours")

3.3333333333333335 hours

## Author:
Kai Lennard Rose